extends layout
block content
  head
    link(href='/css/style.css', rel='stylesheet')
    div.pledged(style="width:100%; border: 1px solid black; padding: 8px;")
      h1 Pauliceia 2.0: Documentação do Desenvolvedor 
      //img.className#IdName(src="https://raw.githubusercontent.com/GSansigolo/PauliceiaAPI/master/views/img/header.png" alt="Image Title")
  body
    br
    h1 Especificação das APIs 
    | As APIs REST vão prover acesso, para leitura, dos dados Geográficos do projeto Pauliceia. Segue abaixo a lista de rotas que o projeto 
    br
    | possui, cada uma das rotas para acesso aos dados possui três formatos para leitura dos dados, Json, GeoJson e Xml. O formato 
    br
    | de leitura dos dados se encontra após a última '/'. 
    br
    br
    h1 Visão Geral
    | Abaixo você pode encontrar todas as rotas da API, para acesso rápido. Os tipos de dados Geometricos que serão exibidos pelo 
    br
    | projeto são: Point, LineString,Polygon, MultiPoint, MultiLineString, and MultiPolygon. No caso do GeoJson os objetos Geometricos 
    br
    |  com propriedades adicionais são 'Feature objects'. Um grupo desses objetos são contidos em um objeto 'FeatureCollection'.
    br
    br
    a(href='http://localhost:3000/api/street/all/Json') > getAllStreetsJson
    br
    a(href='http://localhost:3000/api/street/all/GeoJson') > getAllStreetsGeoJson
    br
    a(href='http://localhost:3000/api/street/all/Xml') > getAllStreetsXml
    br
    a(href='http://localhost:3000/api/places/all/Json') > getAllPlacesJson
    br
    a(href='http://localhost:3000/api/places/all/GeoJson') > getAllPlacesGeoJson
    br
    a(href='http://localhost:3000/api/places/all/Xml') > getAllPlacesXml
    br
    a(href='http://localhost:3000/api/street/1/Json') > getSingleStreetJson
    br
    a(href='http://localhost:3000/api/street/1/GeoJson') > getSingleStreetGeoJson
    br
    a(href='http://localhost:3000/api/street/1/Xml') > getSingleStreetXml
    br
    a(href='http://localhost:3000/api/places/71/Json') > getSinglePlaceJson
    br
    a(href='http://localhost:3000/api/places/71/GeoJson') > getSinglePlaceGeoJson
    br
    a(href='http://localhost:3000/api/places/71/Xml') > getSinglePlaceXml
    br
    a(href='http://localhost:3000/api/listQuickSearch') > getListQuickSearchJson
    br
    a(href='http://localhost:3000/api/Geolocation/rua quinze de novembro, 17, 1900/Json') > getGeolocationJson
    br
    a(href='http://localhost:3000/api/multipleGeolocation/[{"adress": "praa marechal deodoro, 2, 1921"},{"adress": "rua rodrigues dos santos, 2, 1902"},{"adress": "praa marechal deodoro, 2, 1905"},{"adress": "rua oriente, 41, 1911"},{"adress": "rua rodrigues dos santos, 2, 1904"},{"adress": "rua senador feijo, 2, 1899"},{"adress": "rua senador feijo, 2, 1910"},{"adress": "rua dr rodrigo silva, 4, 1954"},{"adress": "rua dr rodrigo silva, 4, 1913"},{"adress": "rua da conceicao, 5, 1912"},{"adress": "rua da conceicao, 5, 1920"}, {"adress": "rua correa de mello, 6, 1913"},{"adress": "rua correa de mello, 6, 1939"},{"adress": "praa marechal deodoro, 8, 1905"},{"adress": "praa marechal deodoro, 8, 1902"},{"adress": "largo de sao bento, 10, 1907"},{"adress": "rua barao de itapetininga, 10, 1913"},{"adress": "rua barao de itapetininga, 10, 1917"},{"adress": "rua do seminario, 10, 1908"},{"adress": "rua do seminario, 10, 1909"},{"adress": "rua sao caetano, 11, 1921"},{"adress": "rua sao caetano, 11, 1912"},{"adress": "rua apa, 12, 1913"}]/Json') > getMultipleGeolocationJson
    br
    br
    h1 Exemplo de Uso:
    | Segue os exemplos de chamada e de resposta, a função selecionada foi a 'getGeolocationJson', no exemplo foi inserido o endereço  
    br
    | 'rua dos gusmoes, 86, 1931' a primeiro item é o nome da rua 'rua dos gusmoes', o segundo é o numero do local '86' e o último dado 
    br
    | é o ano que você deseja saber se o local existe '1931'. A respota dessa função se encontra em Json.
    div
      div
            h1 Exemplo de Chamada:
            table(width='650', cellpadding='2', cellspacing='0')
              col(width='650')
              tr
                td(width='650', valign='top', style='border: 1px solid #000000; padding: 0.1cm')
                    cite
                      font(size='2', style='font-size: 12pt')
                          | GET www.website.com/api/Geolocation/rua%20dos%20gusmoes,%2086,%201931/Json
              
    h1 Exemplo Resposta:
    img.className#IdName(src="https://raw.githubusercontent.com/GSansigolo/PauliceiaAPI/master/views/img/Code.png" alt="Image Title")
    h1 Informações e Parâmetros
    | Abaixo pode ser visto uma lista de tabelas, cada uma delas representa uma das rotas para acesso dos dados no sistema. As tabelas
    br
    | são compostas por nome da função, URL da mesma, formato de saída dos dados, descrição da função e os parâmetros da mesma.
    br
    br
    table(cellspacing='0', border='0')
      colgroup(span='4', width='85')
      colgroup(width='109')
      colgroup(width='85')
      colgroup(width='115')
         tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllStreetsJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/street/all/Json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações de todas as ruas em Json.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todas as ruas cadastradas.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left', valign='middle')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllStreetsGeoJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/street/all/GeoJson
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') GeoJson
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações de todas as ruas em GeoJson.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todas as ruas cadastradas.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') GeoJson (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllStreetsXml
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/street/all/Xml
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Xml
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações de todas as ruas em Xml.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todas as ruas cadastradas.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Xml (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllPlacesGeoJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/places/all/GeoJson
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') GeoJson
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações dos lugares em GeoJson.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todos os locais cadastrados.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') GeoJson (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllPlacesJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/places/all/Json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações dos lugares em GeoJson.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todos os locais cadastrados.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllPlacesXml
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/places/all/Xml
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Xml
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações dos lugares em GeoJson.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todos os locais cadastrados.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Xml (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSingleStreetGeoJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/street/:id/GeoJson
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') GeoJson
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações da rua de :id em GeoJson.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Id (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O id da rua usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') GeoJson (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSingleStreetJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/street/:id/Json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações da rua de :id em Json.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Id (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O id da rua usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSingleStreetXml
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/street/:id/Xml
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Xml
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações da rua de :id em Xml.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Id (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O id da rua usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Xml (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSinglePlaceGeoJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/place/:numero/GeoJson
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') GeoJson
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações do local de :número em GeoJson.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Número (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O numero do local usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') GeoJson (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSinglePlaceJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/place/:numero/Json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações do local de :número em Json.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Número (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O numero do local usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSinglePlaceXml
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/place/:numero/Xml
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Xml
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações do local de :número em Xml.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Número (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O numero do local usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Xml (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getListQuickSearchJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/listQuickSearch
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todos os nomes e ano dos locais e das ruas em  Json.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') ListQuickSearch (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left', valign='middle')
          font(face='Times New Roman', size='3') O numero do local usado para retornar os resultado.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getGeolocationJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/Geolocation/:texto,:ano/Json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna o localização a partir de do :texto no :ano em Json.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Texto (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Texto da pesquisa (nome da rua, numero do local).
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Ano (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Ano da pesquisa (local ou rua).
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getMultipleGeolocationJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') ~/api/Geolocation/:jsonList/json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna o localização a partir de um Json retornando outro Json com todos os endereços Geocodificados.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json com lista de endereços  (nome da rua, numero do local).
      