extends layout
block content
  h1= title
  b Index of Pages:
  br
  br
  | getAllStreets:
  br
  a(href='http://localhost:3000/street/all/json') http://localhost:3000/street/all/json
  br
  a(href='http://localhost:3000/street/all/geojson') http://localhost:3000/street/all/geojson
  br
  a(href='http://localhost:3000/street/all/xml') http://localhost:3000/street/all/xml
  br
  br
  | getSingleStreet:
  br
  a(href='http://localhost:3000/street/1/json') http://localhost:3000/street/id/json
  br
  a(href='http://localhost:3000/street/1/geojson') http://localhost:3000/street/id/geojson
  br
  a(href='http://localhost:3000/street/1/xml') http://localhost:3000/street/id/xml
  br
  br
  | getNameSingleStreet:
  br
  a(href='http://localhost:3000/street/1/name/json') http://localhost:3000/street/id/name/json
  br
  a(href='http://localhost:3000/street/1/name/geojson') http://localhost:3000/street/id/name/geojson
  br
  a(href='http://localhost:3000/street/1/name/xml') http://localhost:3000/street/id/name/xml
  br
  br
  | getGeomSingleStreet:
  br
  a(href='http://localhost:3000/street/1/geom/json') http://localhost:3000/street/id/geom/json
  br
  a(href='http://localhost:3000/street/1/geom/geojson') http://localhost:3000/street/id/geom/geojson
  br
  a(href='http://localhost:3000/street/1/geom/xml') http://localhost:3000/street/id/geom/xml
  br
  br
  | getPerimeterSingleStreet:
  br
  a(href='http://localhost:3000/street/1/perimeter/json') http://localhost:3000/street/id/perimeter/json
  br
  a(href='http://localhost:3000/street/1/perimeter/geojson') http://localhost:3000/street/id/perimeter/geojson
  br
  a(href='http://localhost:3000/street/1/perimeter/xml') http://localhost:3000/street/id/perimeter/xml
  br
  br
  | getCenterofStreet:
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/json') http://localhost:3000/street/query/centerof/name/json
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/geojson') http://localhost:3000/street/query/centerof/name/geojson
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/xml') http://localhost:3000/street/query/centerof/name/xml
  br
  br
  | getCenterofTwoStreets:
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/to/rua tres de dezembro/json') http://localhost:3000/street/query/centerof/name/to/name/json
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/to/rua tres de dezembro/geojson') http://localhost:3000/street/query/centerof/name/to/name/geojson
  br
  br
  | getClosestPoint:
  br
  a(href='http://localhost:3000//places/query/ClosestPoint/1/1/json') http://localhost:3000//places/query/ClosestPoint/streetId/pointId/json
  



  
