extends layout
block content
  h1= title
  b Index of:
  br
  br
  | getAllStreets:
  br
  a(href='http://localhost:3000/street/all/json') http://localhost:3000/street/all/json
  br
  a(href='http://localhost:3000/street/all/geojson') http://localhost:3000/street/all/geojson
  br
  a(href='http://localhost:3000/street/all/xml') http://localhost:3000/street/all/xml
  br
  br
  | getAllPlaces:
  br
  a(href='http://localhost:3000/places/all/json') http://localhost:3000/places/all/json
  br
  a(href='http://localhost:3000/places/all/geojson') http://localhost:3000/places/all/geojson
  br
  a(href='http://localhost:3000/places/all/xml') http://localhost:3000/places/all/xml
  br
  br
  | getSingleStreet:
  br
  a(href='http://localhost:3000/street/1/json') http://localhost:3000/street/id/json
  br
  a(href='http://localhost:3000/street/1/geojson') http://localhost:3000/street/id/geojson
  br
  a(href='http://localhost:3000/street/1/xml') http://localhost:3000/street/id/xml
  br
  br
  | getSinglePlaces:
  br
  a(href='http://localhost:3000/places/5/json') http://localhost:3000/places/id/json
  br
  a(href='http://localhost:3000/places/5/geojson') http://localhost:3000/places/id/geojson
  br
  a(href='http://localhost:3000/places/5/xml') http://localhost:3000/places/id/xml
  br
  br
  | getPointFromText:
  br
  a(href='http://localhost:3000/places/query/PointFromInput/Collegio Santa Ignez/json') http://localhost:3000/places/query/text/json
  



  
