extends layout
block content
  h1= title
  b Index of:
  br
  br
  | searchPage
  br
  a(href='http://localhost:3000/search') http://localhost:3000/search
  br
  br
  | getAllStreets:
  br
  a(href='http://localhost:3000/api/street/all/json') http://localhost:3000/api/street/all/json
  br
  a(href='http://localhost:3000/api/street/all/geojson') http://localhost:3000/api/street/all/geojson
  br
  a(href='http://localhost:3000/api/street/all/xml') http://localhost:3000/api/street/all/xml
  br
  br
  | getAllPlaces:
  br
  a(href='http://localhost:3000/api/places/all/json') http://localhost:3000/api/places/all/json
  br
  a(href='http://localhost:3000/api/places/all/geojson') http://localhost:3000/api/places/all/geojson
  br
  a(href='http://localhost:3000/api/places/all/xml') http://localhost:3000/api/places/all/xml
  br
  br
  | getSingleStreet:
  br
  a(href='http://localhost:3000/api/street/1/json') http://localhost:3000/api/street/id/json
  br
  a(href='http://localhost:3000/api/street/1/geojson') http://localhost:3000/api/street/id/geojson
  br
  a(href='http://localhost:3000/api/street/1/xml') http://localhost:3000/api/street/id/xml
  br
  br
  | getSinglePlaces:
  br
  a(href='http://localhost:3000/api/places/5/json') http://localhost:3000/api/places/id/json
  br
  a(href='http://localhost:3000/api/places/5/geojson') http://localhost:3000/api/places/id/geojson
  br
  a(href='http://localhost:3000/api/places/5/xml') http://localhost:3000/api/places/id/xml
  br
  br
  | Geolocation:
  br
  a(href='http://localhost:3000/api/geolocation/Collegio Santa Ignez/json') http://localhost:3000/api/geolocation/text/json
  



  
