extends layout
block content
  head
    link(href='/css/style.css', rel='stylesheet')
    script.
        function myFunction() {
        var strWindowFeatures = "location=ye,scrollbars=yes,status=yes";
        var URL = "https://rawgit.com/GSansigolo/PauliceiaAPI/master/views/html/index.html";
        var win = window.open(URL, "_self", strWindowFeatures);
        }
    div.pledged(style="width:100%")
      img.className#IdName(src="https://raw.githubusercontent.com/GSansigolo/PauliceiaAPI/master/views/img/header.png" alt="Image Title")
  body
    h1 APIs REST
    | As APIs REST proverão acesso para leitura dos dados geográficos do projeto. Segue abaixo a lista de rotas que a API REST possui. Logo 
    br
    | abaixo pode ser visto uma descrição de cada uma das rotas contendo o nome da mesma, o endereço, uma descri ação, as variáveis
    br
    | que ela recebe e o formato do dado de saída.
    br
    br
    h1 Visão Geral
    | Abaixo se encontra o endereço das APIs REST para acesso rápido.
    br
    br
    a(href='http://localhost:3000/api/street/all/json') > getAllStreetsJson
    br
    a(href='http://localhost:3000/api/street/all/geojson') > getAllStreetsGeoJson
    br
    a(href='http://localhost:3000/api/street/all/xml') > getAllStreetsXML
    br
    a(href='http://localhost:3000/api/places/all/json') > getAllPlacesJson
    br
    a(href='http://localhost:3000/api/places/all/geojson') > getAllPlacesGeoJson
    br
    a(href='http://localhost:3000/api/places/all/xml') > getAllPlacesXML
    br
    a(href='http://localhost:3000/api/street/1/json') > getSingleStreetJson
    br
    a(href='http://localhost:3000/api/street/1/geojson') > getSingleStreetGeoJson
    br
    a(href='http://localhost:3000/api/street/1/xml') > getSingleStreetXML
    br
    a(href='http://localhost:3000/api/places/71/json') > getSinglePlaceJson
    br
    a(href='http://localhost:3000/api/places/71/geojson') > getSinglePlaceGeoJson
    br
    a(href='http://localhost:3000/api/places/71/xml') > getSinglePlaceXML
    br
    a(href='http://localhost:3000/api/listQuickSearch') > getListQuickSearchJson
    br
    a(href='http://localhost:3000/api/geolocation/rua monsenhor andrade, 120, 1931/json') > getGeolocationJson
    br
    a(href='javascript:myFunction();') > SearchPage
    br
    div
      div
            h1 Exemplo de Chamadas:
            table(width='650', cellpadding='2', cellspacing='0')
              col(width='650')
              tr
                td(width='650', valign='top', style='border: 1px solid #000000; padding: 0.1cm')
                    cite
                      font(size='2', style='font-size: 12pt')
                          | GET www.website.com/api/geolocation/rua%20dos%20gusmoes,%2086,%201931/json
              
    h1 Exemplo Resposta:
    img.className#IdName(src="https://raw.githubusercontent.com/GSansigolo/PauliceiaAPI/master/views/img/Code.png" alt="Image Title")
    //p.codebox
      | [
      br
      |   &nbsp&nbsp&nbsp&nbsp"created_at: 15:19:36 30/08/2017",
      br
      |   &nbsp&nbsp&nbsp&nbsp"type: 'GET'",
      br
      |   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[
      br
      |   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{
      br
      |   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"name":"Gabinete de Investigações",
      br
      |   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"geom":"POINT(-46.6399904062294 -23.5375939502085)"
      br
      |   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp}
      br
      |   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp]
      br
      |   ]
      br
    h1 APIs
    table(cellspacing='0', border='0')
      colgroup(span='4', width='85')
      colgroup(width='109')
      colgroup(width='85')
      colgroup(width='115')
         tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllStreetsJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/street/all/json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') JSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações de todas as ruas em JSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todas as ruas cadastradas.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left', valign='middle')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllStreetsGeoJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/street/all/geojson
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') GEOJSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações de todas as ruas em GEOJSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todas as ruas cadastradas.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Geojson (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllStreetsXml
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/street/all/xml
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') XML
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações de todas as ruas em XML.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todas as ruas cadastradas.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') xml (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllPlacesGeoJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/places/all/geojson
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') GEOJSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações dos lugares em GEOJSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todos os locais cadastrados.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Geojson (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllPlacesJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/places/all/json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') JSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações dos lugares em GEOJSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todos os locais cadastrados.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getAllPlacesXml
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/places/all/xml
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') XML
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações dos lugares em GEOJSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') All (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para recolher todos os locais cadastrados.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') xml (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSingleStreetGeoJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/street/:id/geojson
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') GEOJSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações da rua de :id em GEOJSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Id (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O id da rua usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Geojson (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSingleStreetJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/street/:id/json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') JSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações da rua de :id em JSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Id (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O id da rua usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSingleStreetXml
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/street/:id/xml
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') XML
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações da rua de :id em XML.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Id (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O id da rua usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') xml (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSinglePlaceGeoJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/place/:numero/geojson
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') GEOJSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações do local de :número em GEOJSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Número (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O numero do local usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Geojson (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSinglePlaceJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/place/:numero/json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') JSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações do local de :número em JSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Número (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O numero do local usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Json (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getSinglePlaceXml
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/place/:numero/xml
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') XML
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todas as informações do local de :número em XML.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Número (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') O numero do local usado para retornar os resultado.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') xml (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Comando usado para  definir o formato de exibição dos dados.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getListQuickSearchJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/listQuickSearch
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') JSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna todos os nomes e ano dos locais e das ruas em  JSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') ListQuickSearch (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left', valign='middle')
          font(face='Times New Roman', size='3') O numero do local usado para retornar os resultado.
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(height='29', align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='3', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') getGeolocationJson
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
        td(align='left')
          font(face='Times New Roman', size='3')
            br
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') URL:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='4', align='left')
          font(face='Times New Roman', size='3') https://website.com/api/geolocation/:texto,:ano/json
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Formato:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', align='left', valign='middle')
          font(face='Times New Roman', size='3') JSON
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Descrição:
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='6', align='left', valign='middle')
          font(face='Times New Roman', size='3') Retorna o localização a partir de do :texto no :ano em JSON.
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='7', height='29', align='left', valign='middle')
          b
            font(face='Times New Roman', size='3') Parâmetros
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Texto (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Texto da pesquisa (nome do local, nome da rua ou numero do local).
      tr
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='2', height='29', align='left', valign='middle')
          font(face='Times New Roman', size='3') Ano (Requerido)
        td(style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000', colspan='5', align='left', valign='middle')
          font(face='Times New Roman', size='3') Ano da pesquisa (local ou rua).


    
