extends layout
block content
  head
    script.
        function myFunction() {
        var strWindowFeatures = "location=ye,scrollbars=yes,status=yes";
        var URL = "https://rawgit.com/GSansigolo/node-postgres-todo/master/views/html/index.html";
        var win = window.open(URL, "_self", strWindowFeatures);
        }
    h1= title
  body
    | A API REST proverá acesso para leitura dos dados geográficos do projeto. Segue abaixo a lista de rotas que a API REST possui. Logo 
    br
    | abaixo pode ser visto uma descrição de cada uma das rotas contendo o nome da mesma, o endereço, uma descri ação, as variáveis
    br
    | que ela recebe e o formato do dado de saída.
    br
    br
    a(href='javascript:myFunction();') > SearchPage
    br
    br
    a(href='http://localhost:3000/api/street/all/json') > getAllStreetsJson
    br
    a(href='http://localhost:3000/api/street/all/geojson') > getAllStreetsGeoJson
    br
    a(href='http://localhost:3000/api/street/all/xml') > getAllStreetsXML
    br
    a(href='http://localhost:3000/api/places/all/json') > getAllPlacesJson
    br
    a(href='http://localhost:3000/api/places/all/geojson') > getAllPlacesGeoJson
    br
    a(href='http://localhost:3000/api/places/all/xml') > getAllPlacesXML
    br
    a(href='http://localhost:3000/api/street/1/json') > getSingleStreetJson
    br
    a(href='http://localhost:3000/api/street/1/geojson') > getSingleStreetGeoJson
    br
    a(href='http://localhost:3000/api/street/1/xml') > getSingleStreetXML
    br
    a(href='http://localhost:3000/api/places/71/json') > getSinglePlaceJson
    br
    a(href='http://localhost:3000/api/places/71/geojson') > getSinglePlaceGeoJson
    br
    a(href='http://localhost:3000/api/places/71/xml') > getSinglePlaceXML
    br
    a(href='http://localhost:3000/api/listQuickSearch') > getListQuickSearchJson
    br
    a(href='http://localhost:3000/api/geolocation/Quartel General da 2° região Militar, 1931/json') > getGeolocationJson


    
