extends layout
block content
  h1= title
  b Index of Pages:
  br
  br
  | getAllStreets:
  br
  a(href='http://localhost:3000/street/all/json') http://localhost:3000/street/all/json
  br
  a(href='http://localhost:3000/street/all/geojson') http://localhost:3000/street/all/geojson
  br
  br
  | getSingleStreet:
  br
  a(href='http://localhost:3000/street/1/json/') http://localhost:3000/street/id/json
  br
  a(href='http://localhost:3000/street/1/geojson/') http://localhost:3000/street/id/geojson
  br
  br
  | getNameSingleStreet:
  br
  a(href='http://localhost:3000/street/1/name/json') http://localhost:3000/street/id/name/json
  br
  a(href='http://localhost:3000/street/1/name/geojson') http://localhost:3000/street/id/name/geojson
  br
  br
  | getGeomSingleStreet:
  br
  a(href='http://localhost:3000/street/1/geom/json') http://localhost:3000/street/id/geom/json
  br
  a(href='http://localhost:3000/street/1/geom/geojson') http://localhost:3000/street/id/geom/geojson
  br
  br
  | getTypeSingleStreet:
  br
  a(href='http://localhost:3000/street/1/type/json') http://localhost:3000/street/id/type/json
  br
  a(href='http://localhost:3000/street/1/type/geojson') http://localhost:3000/street/id/type/geojson
  br
  br
  | getPerimeterSingleStreet:
  br
  a(href='http://localhost:3000/street/1/perimeter/json') http://localhost:3000/street/id/perimeter/json
  br
  a(href='http://localhost:3000/street/1/perimeter/geojson') http://localhost:3000/street/id/perimeter/geojson
  br
  br
  | getCenterOfStreet:
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/json') http://localhost:3000/street/query/centerof/name/json
  br
  br
  | calcDistanceStreets:
  br
  a(href='http://localhost:3000/street/query/distance/rua boa vista/to/rua tres de dezembro/json') http://localhost:3000/street/query/distance/name/to/name/json
  br






  
