extends layout
block content
  h1= title
  b Index of Pages:
  br
  br
  | getAllStreets:
  br
  a(href='http://localhost:3000/street/all/json') http://localhost:3000/street/all/json
  br
  a(href='http://localhost:3000/street/all/geojson') http://localhost:3000/street/all/geojson
  br
  a(href='http://localhost:3000/street/all/xml') http://localhost:3000/street/all/xml
  br
  br
  | getAllPoints:
  br
  a(href='http://localhost:3000/places/all/json') http://localhost:3000/places/all/json
  br
  a(href='http://localhost:3000/places/all/geojson') http://localhost:3000/places/all/geojson
  br
  a(href='http://localhost:3000/places/all/xml') http://localhost:3000/places/all/xml
  br
  br
  | getSingleStreet:
  br
  a(href='http://localhost:3000/street/1/json') http://localhost:3000/street/id/json
  br
  a(href='http://localhost:3000/street/1/geojson') http://localhost:3000/street/id/geojson
  br
  a(href='http://localhost:3000/street/1/xml') http://localhost:3000/street/id/xml
  br
  br
  | getTableSingleStreet:
  br
  a(href='http://localhost:3000/street/1/name/json') http://localhost:3000/street/id/tableName/json
  br
  a(href='http://localhost:3000/street/1/name/geojson') http://localhost:3000/street/id/tableName/geojson
  br
  a(href='http://localhost:3000/street/1/name/xml') http://localhost:3000/street/id/tableName/xml
  br
  br
  | getCenterofTwoStreets:
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/to/rua tres de dezembro/json') http://localhost:3000/street/query/centerof/name/to/name/json
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/to/rua tres de dezembro/geojson') http://localhost:3000/street/query/centerof/name/to/name/geojson
  br
  a(href='http://localhost:3000/street/query/centerof/rua boa vista/to/rua tres de dezembro/xml') http://localhost:3000/street/query/centerof/name/to/name/xml
  br
  br
  | getClosestPoint:
  br
  a(href='http://localhost:3000/places/query/ClosestPoint/5/json') http://localhost:3000/places/query/id/json
  



  
