doctype html
html
  head
    meta(charset='UTF-8')
    script(type='text/javascript').
  body
    h1= title
    br
    label(for='searchbox', style='display: inline-block; width: 160px;') Search: 
    input#searchbox(type='text', value='')
    button#button_search(type='submit', onclick="location.href='/api/geolocation/'+document.getElementById('searchbox').value+'/json';") Submit
