doctype html
html
  head
    meta(charset='UTF-8')
    script(type='text/javascript').
  body
    p
    label(for='searchbox', style='display: inline-block; width: 160px;') Search: 
    input#searchbox(type='text', value='')
