<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <title>pauliceia 2.0</title>

      <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="page-wrapper">
  <h1>Pauliceia 2.0</h1>
  
  <label for="default">Search:</label>
  <input type="text" id="default" list="languages" placeholder="e.g. JavaScript">
  
  <datalist id="languages">
    <option value="HTML">
    <option value="CSS">
    <option value="JavaScript">
    <option value="Java">
    <option value="Ruby">
    <option value="PHP">
    <option value="Go">
    <option value="Erlang">
    <option value="Python">
    <option value="C">
    <option value="C#">
    <option value="C++">
  </datalist>
  
  <label for="ajax">Search: </label>
  <input type="text" id="ajax" list="json-datalist" placeholder="e.g. datalist">
  <datalist id="json-datalist"></datalist>
    <label for="1"> </label>
  <div><button id="button_search" type="submit" onclick="location.href='/api/geolocation/'+document.getElementById('default').value+'/json';">Submit</button></div>

</div>
  
    <script src="js/index.js"></script>
    
</body>
</html>
