<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Map View</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div id="frente">         
                <script src="js/index.js"></script>
                <div id="page-wrapper">
                    <div scr=mapa();>Mapa</div>
            </div>
        </div>
        <div id="map" class="smallmap"></div>
        <div id="fundo">
                <img class="bg" src="img/01_HOME.jpg">     
        </div>
        <script src="js/map.js"></script>
        <script src="js/OpenLayers.js"></script>
    </body>
</html>