<!DOCTYPE html>
<html >
    <head>
        <script src="js/map.js"></script>
        <script src="js/OpenLayers.js"></script>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.3.3/css/ol.css" type="text/css">
        <style>
            .map {
                height: 500px;
                width: 100%;
                }
        </style>
        <meta charset="UTF-8">
        <title>Map View</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://openlayers.org/en/v4.3.3/build/ol.js" type="text/javascript"></script>
    </head>
    <body onload="onload();">

        <div id="frente">         
                <div id="page-wrapper">
                    <div id="map" class="map"></div>
            </div>
        </div>
        <div id="fundo">
                <img class="bg" src="img/01_HOME.jpg">     
        </div>
    </body>
</html>