<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
  
        <title>Pauliceia 2.0</title>

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="frente"> 
            <div id="page-wrapper">
                <h1>Search Page</h1>
                <label for="ajax">Search: </label>

                <div style="width: 95%; float:left; margin-left: 2%;">
                    <div id="a" style="width: 80%; height: 100%; float:left;"><input type="text" id="ajax" list="json-datalist" placeholder=""></div>
                    <div id="b" style="width: 20%; height: 100%; float:right;">
                            
                        <input type="file" class="file" id="attachement" name="attachement" style="display: none;" onchange="fileSelected(this)"/>
                                
                        <button2 id="btnAttachment" type="button" onclick="openAttachment();">Upload</button2>
                    </div>
                </div>
                <br>
                <br>
                
                <datalist id="json-datalist"></datalist>
                <label for="1"> </label>
                <div><button id="button_search" type="submit" onclick="serchinservice();">Search in Web Service</button&nbsp&nbsp&nbsp&nbsp><button id="button_search2" type="submit2" onclick="CallURL();">View on OpenLayers</button></div></div>
                    
                <script src="js/index.js"></script>
        </div>
        
        <div id="fundo">
                <img class="bg" src="img/01_HOME.jpg">     
        </div>

    </body>
</html>
